In [2]:
import pandas as pd

In [199]:
def read_textfile(filename):
    list_acc = []
    list_mag = []
    list_gyr = []

    with open(filename, "r") as f:
        data = f.readlines()

    for line in data:
        values = line.split("\t")[1:4]
        values[2] = values[2].strip("\n").strip("}").strip('"')
        values = list(map(float, values))
        if "acc" in line:
            list_acc.append(values)
        if "mag" in line:
            list_mag.append(values)
        if "gyr" in line:
            list_gyr.append(values)

    return pd.DataFrame(list_acc, columns=["ax", "ay", "az"]), \
        pd.DataFrame(list_mag, columns=["mx", "my", "mz"]), \
        pd.DataFrame(list_gyr, columns=["gx", "gy", "gz"]),

In [200]:
df_acc1, df_mag1, df_gyr1 = read_textfile('sensor-data1.txt')
df_acc2, df_mag2, df_gyr2 = read_textfile('sensor-data2.txt')
df_acc3, df_mag3, df_gyr3 = read_textfile('sensor-data3.txt')

In [211]:
df_acc = df_acc1.append(df_acc2, ignore_index=True).append(df_acc3, ignore_index=True)
df_mag = df_mag1.append(df_mag2, ignore_index=True).append(df_mag3, ignore_index=True)
df_gyr = df_gyr1.append(df_gyr2, ignore_index=True).append(df_gyr3, ignore_index=True)

           ax        ay        az
0    9.476774  0.509372  2.532205
1    9.476774  0.513261  2.536392
2    9.483653  0.507578  2.534896
3    9.476176  0.517448  2.539383
4    9.480363  0.509970  2.533999
..        ...       ...       ...
153  9.490832  0.508475  2.550450
154  9.489635  0.510269  2.550749
155  9.495318  0.511765  2.551945
156  9.494122  0.503988  2.553142
157  9.491430  0.507578  2.548954

[158 rows x 3 columns]